* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
:global #main {
  /*width: 750px;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  opacity: 0;*/
}



.all {
  width: 100%;
  height: 100%;
  /*overflow-x:hidden;
  -webkit-overflow-scrolling: touch;*/
}

.canvas{
  position: relative;
}

.box{
  width: 200px;
  height: 100px;
  margin: 50px 0 0 20px;
}
